:host {
  margin-top: -0.5rem;
  display: block;

  ::ng-deep {
    .ngx-slider .ngx-slider-pointer {
      background-color: #0331a6;
    }

    .ngx-slider .ngx-slider-pointer.ngx-slider-active:after {
      background-color: #fff;
    }

    .ngx-slider .ngx-slider-limit {
      display: none;
    }

    .ngx-slider .ngx-slider-model-value {
      display: none;
    }
  }
}
