<div class="flex w-3/4 gap-2" [class.flex-row-reverse]="direction === 'right'">
  <img [src]="bubbleAvatar" class="h-12" />
  <div
    [ngClass]="direction === 'left' ? 'ml-3 text-left' : 'mr-3 text-right'"
    [class]="
      'message w-full rounded-lg px-4 py-3 text-sm relative border-2 ' +
      bubbleColors
    "
  >
    <span rtmTypewrite [text]="message || ''" [delay]="TEXT_SPEED"></span>
    <div
      [class]="'absolute h-3 w-3 border-r-2 border-t-2 ' + bubbleColors"
      [ngClass]="direction === 'left' ? 'msg-l' : 'msg-r'"
    ></div>
  </div>
</div>
