<div class="flex h-full w-full gap-16">
  <div class="relative h-full w-1/2">
    <img class="absolute bottom-0" src="/assets/images/ludzie.png" />
  </div>

  <div class="flex h-full w-1/2 flex-col justify-center">
    <div class="flex flex-col gap-24">
      <img src="/assets/logo.svg" class="w-3/5" />

      <p class="text-4xl text-white">
        Twoi wirtualni doradcy edukacyjni zawsze na wyciągnięcie ręki.
      </p>

      <button
        class="w-2/3 rounded-lg border-2 border-white p-4 text-lg font-bold text-white hover:bg-white/10"
        (click)="goToSurvey.emit()"
      >
        Rozpocznij konsultacje
      </button>
      <div class="flex items-center gap-2">
        <p class="text-xl text-white">Made with</p>
        <!-- eslint-disable-next-line tailwindcss/no-custom-classname -->
        <i class="pi pi-heart-fill text-red-500" style="font-size: 1.5rem"></i>
        <p class="text-xl text-white">by</p>
        <img src="/assets/images/deviniti.png" class="ml-2 w-1/5" />
      </div>
    </div>
  </div>
</div>
