<div class="my-2 flex h-full flex-col gap-4 overflow-auto px-2">
  <rtm-message message="Hey" type="KAJTEK" />
  <rtm-message message="Hey" type="KARA" />
  <rtm-message message="Hey" type="USER" />
  <rtm-message
    message="Hey Lorem ipsum Hey Lorem ipsum Hey Lorem ipsum Hey Lorem ipsum Hey Lorem ipsum Hey Lorem ipsum Hey Lorem ipsum Hey Lorem ipsum Hey Lorem ipsum Hey Lorem ipsum Hey Lorem ipsum Hey Lorem ipsum Hey Lorem ipsum "
    type="KARA"
  />
  <rtm-message
    *ngFor="let m of messages()"
    [message]="m.message"
    [type]="m.bot"
  />
</div>
<form
  class="flex gap-4 align-middle"
  (submit)="sendMessage()"
  [formGroup]="chatForm"
>
  <input rtmInput class="w-full" formControlName="input" />
  <button rtmButton [size]="'icon'" type="submit">SEND</button>
</form>
