<div class="my-2 h-full overflow-auto pr-2">
  <!-- XD -->
  <rtm-message message="Hey" type="KAJTEK" />
  <rtm-message message="Hey" type="KARA" />
  <rtm-message message="Hey" type="USER" />
  <rtm-message
    message="Hey Lorem ipsum Hey Lorem ipsum Hey Lorem ipsum Hey Lorem ipsum Hey Lorem ipsum Hey Lorem ipsum Hey Lorem ipsum Hey Lorem ipsum Hey Lorem ipsum Hey Lorem ipsum Hey Lorem ipsum Hey Lorem ipsum Hey Lorem ipsum "
    type="KARA"
  />
  <rtm-message
    *ngFor="let m of messages()"
    [message]="m.message"
    [type]="m.bot"
  />
  <!-- XD -->
</div>
<div class="flex gap-4 align-middle">
  <input rtmInput class="w-full" [formControl]="input" />
  <button rtmButton [size]="'icon'" (click)="sendMessage()">SEND</button>
</div>
