<div class="flex h-full w-full items-center gap-16">
  <div class="relative h-full w-2/5">
    <img class="absolute bottom-0" src="/assets/kajtek.png" />
  </div>

  <div class="w-3/5 rounded-2xl bg-white p-8 shadow-2xl">
    <h2 class="mb-4 text-2xl font-medium">Witaj!</h2>
    <p class="mb-4 font-light">
      Ja jestem EduKajtek. Potrzebuję od Ciebie kilku informacji. Pomożesz mi?
    </p>

    <ng-container *ngFor="let item of STEPS; let i = index">
      <rtm-slider-option
        (valueChange)="onValueChange(item.key, $event, i)"
        [completed]="stepCounter > i"
        *ngIf="stepCounter > i - 1"
        [title]="item.label"
      />
    </ng-container>

    <p-button
      *ngIf="stepCounter === STEPS.length"
      (onClick)="goToNextStep.emit()"
      styleClass="w-1/2 mt-12"
      label="Następny krok"
      [style]="{
        background: 'linear-gradient(91deg, #001234 1.22%, #0048D2 100%)',
        border: 'none'
      }"
    />
  </div>
</div>
