<ng-container *ngIf="!data(); else graph">
  <h2 class="mb-4 text-2xl font-medium text-gray-700">Twój eduKompas+</h2>
  <p class="mb-4 font-light">Czekamy na Twoje pytania!</p>
</ng-container>

<ng-template #graph>
  <h2 class="mb-4 text-2xl font-medium text-gray-700">
    Twój Kompas Edukacyjny
  </h2>
  <p class="mb-4 font-light">
    Poniższy graf pokazuje ścieżki kariery, które EduKasia i EduKajtek wspólnie
    dla Ciebie wybrali.
  </p>

  <div echarts [options]="options" style="height: 100%"></div>

  <div class="absolute bottom-4 right-4 flex items-center justify-end gap-2">
    <p class="text-lg">Powered by</p>
    <img src="/assets/images/deviniti.png" class="w-20" />
    <p class="text-lg">with</p>
    <!-- eslint-disable-next-line tailwindcss/no-custom-classname -->
    <i class="pi pi-heart-fill text-red-500" style="font-size: 1rem"></i>
  </div>
</ng-template>
