<div class="flex h-full w-full items-center gap-16">
  <form
    class="w-3/5 rounded-2xl bg-white p-8 shadow-2xl"
    (ngSubmit)="onSubmit()"
    [formGroup]="step1Form"
  >
    <h2 class="mb-4 text-2xl font-medium">Cześć!</h2>
    <p class="mb-4 font-light">
      Mam na imię EduKasia. Dziękuję, że postanowiłeś wziąć udział w naszych
      konsultacjach. Dzięki temu postaramy się pomóc Ci w wyborze wymarzonej
      ścieżki kariery.
    </p>

    <p class="mb-5 flex items-center gap-4">
      <!-- eslint-disable-next-line tailwindcss/no-custom-classname -->
      <i class="pi pi-exclamation-circle text-lg text-yellow-500"></i>
      <span class="block font-light">
        Wypełnij poniższe pola i przejdź do następnego kroku.
      </span>
    </p>

    <h4 class="mb-3 font-medium">Kim jesteś?</h4>

    <div class="mb-5 flex flex-wrap gap-3">
      <div class="flex items-center" *ngFor="let type of USER_TYPE">
        <p-radioButton
          formControlName="userType"
          [inputId]="type"
          [value]="type"
        ></p-radioButton>
        <label [for]="type" class="ml-2 cursor-pointer font-light">
          {{ type }}
        </label>
      </div>
    </div>

    <h4 class="mb-3 font-medium">Wykształcenie</h4>

    <p-dropdown
      formControlName="educationType"
      [options]="EDUCATION_TYPE"
      styleClass="w-full mb-5"
      placeholder="Wybierz"
      optionLabel="label"
      optionValue="value"
    ></p-dropdown>

    <h4 class="mb-3 font-medium">Miasto</h4>

    <input
      placeholder="Wpisz miasto"
      formControlName="city"
      class="mb-10 w-full"
      type="text"
      pInputText
    />

    <p-button
      [disabled]="!step1Form.valid"
      (onClick)="onSubmit()"
      label="Następny krok"
      styleClass="w-1/2"
      [style]="{
        background: 'linear-gradient(91deg, #001234 1.22%, #0048D2 100%)',
        border: 'none'
      }"
    />
  </form>

  <div class="relative h-full w-2/5">
    <img class="absolute bottom-0" src="/assets/kara.png" />
  </div>
</div>
