<div class="flex h-full w-full items-center gap-16">
  <div class="w-1/2 rounded-2xl bg-white p-8 shadow-2xl">
    <h2 class="mb-2 text-xl font-medium">Cześć!</h2>
    <p class="text-lg font-light">
      Mam na imię EduKasia. Dziękuję, że postanowiłeś wziąć udział w naszych
      konsultacjach. Dzięki temu postaramy się pomóc Ci w wyborze wymarzonej
      ścieżki kariery.
    </p>
  </div>

  <div class="relative h-full w-1/2">
    <img class="absolute bottom-0" src="/assets/kara.png" />
  </div>
</div>
