<div class="my-2 flex h-full flex-col gap-4 overflow-auto px-2" #window>
  <rtm-message
    *ngFor="let m of messages()"
    [message]="m.message"
    [type]="m.bot"
  />
  <div class="mx-auto my-2 block" *ngIf="isLoading()">
    <rtm-spinner />
  </div>
</div>
<form
  class="flex gap-4 align-middle"
  (submit)="sendMessage()"
  [formGroup]="chatForm"
>
  <input
    placeholder="Wpisz treść wiadomości"
    formControlName="input"
    class="w-full"
    pInputText
    type="text"
  />
  <p-button
    [style]="{ background: '#0331A6' }"
    icon="pi pi-send"
    type="submit"
  ></p-button>
</form>
