<div class="my-2 flex h-full flex-col gap-4 overflow-auto px-2" #window>
  <rtm-message
    *ngFor="let m of messages()"
    [message]="m.message"
    [type]="m.bot"
  />
  <div class="mx-auto my-2 block" *ngIf="isLoading()">
    <rtm-spinner />
  </div>
</div>
<form
  class="flex h-16 gap-4 align-middle"
  (submit)="sendMessage()"
  [formGroup]="chatForm"
>
  <textarea
    (keydown.enter)="$event.preventDefault(); sendMessage()"
    formControlName="input"
    class="w-full"
    rtmInput
  ></textarea>
  <button rtmButton [size]="'icon'" type="submit">SEND</button>
</form>
